In [1]:
%create OnlineRetail.db

In [5]:
CREATE TABLE clientes (
  id_cliente INT NOT NULL,
  nome VARCHAR(45) NULL,
  cidade VARCHAR(45) NULL
  );
  
INSERT INTO clientes VALUES 
(1001,'Adriana','SP'),
(1002,'Maria','MG'),
(1002,'Maria','MG'),
(1006,'Beatriz','SC'),
(1006,'Beatriz','SC'),
(1006,'Beatriz','SC'),
(1007,'Carolina','SP'),
(1008,'Mariana','MG'),
(1008,'Mariana','MG'),
(1009,'Josefa','MG'),
(1009,'Josefa','MG'),
(1009,'Josefa','MG');

In [6]:
CREATE TABLE pedidos (
  `id_pedido` INT NOT NULL,
  `id_cliente` VARCHAR(45) NULL,
  `data_pedido` DATE NULL,
  `total_pedido` INT NULL,
  PRIMARY KEY (`id_pedido`));

In [7]:
INSERT INTO pedidos values
(9999,1002,'2022-07-11',11),
(9998,1002,'2022-07-11',11),
(9997,1002,'2024-04-15',10),
(9996,1006,'2023-08-1',6),
(9995,1006,'2022-08-16',1),
(9994,1006,'2023-11-1',13),
(9993,1007,'2023-01-28',2),
(9992,1008,'2023-03-16',14),
(9991,1008,'2023-03-27',12),
(9990,1009,'2023-01-8',3),
(9989,1009,'2022-10-15',9),
(9988,1009,'2023-01-27',11),
(9987,1001,'2023-09-13',8),
(9986,1002,'2023-05-26',9),
(9985,1002,'2023-10-1',8),
(9984,1006,'2023-11-27',5),
(9983,1006,'2023-10-10',5),
(9982,1006,'2022-08-16',10),
(9981,1007,'2023-07-14',2),
(9980,1008,'2022-11-8',6),
(9979,1001,'2023-02-23',9),
(9978,1002,'2023-11-14',12),
(9977,1002,'2022-10-22',1),
(9976,1006,'2023-06-8',9),
(9975,1006,'2023-07-17',4),
(9974,1006,'2022-09-17',2),
(9973,1007,'2023-11-5',11),
(9972,1008,'2023-12-15',13),
(9971,1008,'2023-09-1',13),
(9970,1009,'2023-05-5',1),
(9969,1009,'2023-02-20',1),
(9968,1009,'2022-08-24',13),
(9967,1001,'2023-06-4',7),
(9966,1002,'2023-01-30',1),
(9965,1002,'2022-10-25',14),
(9964,1006,'2023-06-9',13),
(9963,1006,'2022-05-18',5),
(9962,1006,'2024-03-24',11),
(9961,1007,'2022-07-9',4),
(9960,1008,'2023-12-20',3),
(9959,1008,'2024-01-15',1),
(9958,1009,'2023-10-31',1),
(9957,1009,'2022-09-15',6),
(9956,1009,'2022-05-11',13);

In [12]:
CREATE TABLE produtos (
  `id_produto` INT NOT NULL,
  `nome` VARCHAR(45) NULL,
  `categoria` VARCHAR(45) NULL,
  PRIMARY KEY (`id_produto`));
ALTER TABLE `fast_shop`.`produtos` 
CHANGE COLUMN `categoria` `categoria` INT NULL DEFAULT NULL ,
DROP PRIMARY KEY;
;

In [15]:
insert into produtos values
(1,'Esmaltes',99),
(2,'Maquiagens',99),
(3,'Xampus',99),
(4,'Cremes hidratantes',99),
(5,'Perfumes',99),
(6,'Desodorantes',99);

In [17]:
insert into produtos values
(7,'Sabonetes',99),
(8,'Loções para barba',99),
(9,'Demaquilantes',99),
(10,'Peixes e Aves',98);

In [20]:
insert into produtos values 
(11,'Destilados',98),
(12,'Sucos',98),
(13,'Refrigerantes',98),
(14,'Congelados',98),
(15,'Cadeiras Escritorio',97),
(16,'Mesa Cozinha',97),
(17,'Mesa Sala',97),
(18,'Estante',97),
(19,'Sofa',97),
(20,'Vitaminas',96);

In [26]:
insert into produtos values 
(21,'Suplementos',96),
(22,'Panelas',95),
(23,'Panelas Eletricas',95),
(24,'Batedeiras',95),
(25,'copos',95),
(26,'Netflix',94),
(27,'Xbox Games',94),
(28,' spotify',94),
(29,'Vale Presente',94),
(30,'Racao',93),
(31,'Cama',93),
(32,'Roupa Curta',93),
(33,'roupa longa',93),
(34,'Casa para Dog',93),
(35,'Coleira',93),
(36,'Brinquedos Pets',93),
(37,'Impressora',92),
(38,'Notebook',92),
(39,'Mouse',92),
(40,'Teclado',92),
(41,'Cadeira Gamer',92);

In [52]:
CREATE TABLE itens_pedido (
  id_pedido INT NOT NULL,
  id_produto VARCHAR(45) NULL,
  quantidade INT NULL,
  preço_unitário DECIMAL(2) NULL);

In [53]:
insert into itens_pedido values
(9980,30,1,58.44),
(9997,35,4,393.14),
(9983,34,2,436.55),
(9971,11,6,129.52),
(9961,16,6,207.51),
(9965,9,6,393.53),
(9990,24,7,491.30),
(9997,21,3,260.31),
(9999,19,2,491.11),
(9957,41,1,181.26),
(9991,10,7,300.44),
(9978,25,5,470.45),
(9986,10,3,105.51),
(9960,8,6,354.34),
(9985,8,3,77.40),
(9981,19,7,241.57),
(9999,23,2,65.24),
(9957,38,4,315.23),
(9960,32,1,321.20),
(9973,19,6,142.60),
(9985,1,2,365.43),
(9963,28,6,127.59),
(9956,1,5,469.18),
(9968,13,5,416.21),
(9991,13,3,125.42),
(9961,33,2,168.11),
(9972,20,3,218.40),
(9983,35,2,300.51),
(9990,8,2,248.39),
(9974,1,1,131.33),
(9994,2,4,164.25),
(9998,38,6,443.20),
(9984,15,1,299.36),
(9972,13,7,407.37),
(9982,38,7,281.40),
(9981,6,5,189.31),
(9962,17,4,331.57),
(9981,29,3,276.42),
(9967,38,7,239.25),
(9961,9,2,287.28),
(9995,37,6,401.29),
(9988,36,5,297.38),
(9970,5,4,135.12),
(9992,7,3,215.43),
(9998,40,6,172.51),
(9966,6,6,160.52),
(9982,36,3,286.20),
(9965,23,4,137.28),
(9984,10,2,330.16),
(9971,5,7,185.24),
(9984,38,4,220.52),
(9989,20,3,263.40),
(9983,33,5,145.24),
(9982,12,3,60.38),
(9994,17,6,479.46),
(9982,7,1,437.39),
(9973,10,2,237.15),
(9967,22,3,306.55),
(9980,1,6,414.58),
(9975,32,6,295.30),
(9984,33,4,180.38),
(9982,13,6,156.56),
(9985,31,5,457.36),
(9960,29,4,146.60),
(9963,32,5,427.34),
(9976,17,5,300.31),
(9977,8,2,273.38),
(9966,26,5,490.34),
(9990,31,7,475.46),
(9995,37,1,420.19),
(9996,6,1,410.54),
(9972,18,3,139.31),
(9967,9,7,423.24),
(9990,9,3,95.19),
(9975,7,3,321.55),
(9971,29,4,161.47),
(9976,12,1,413.56),
(9989,9,3,327.18),
(9969,36,7,207.12),
(9956,26,7,309.27),
(9996,20,3,285.59),
(9979,36,5,109.31),
(9970,28,4,286.13),
(9995,15,1,396.29),
(9998,34,6,426.58),
(9974,5,5,120.40),
(9979,35,1,382.46),
(9987,4,1,115.53),
(9983,16,4,413.24),
(9991,20,5,182.59),
(9962,16,1,270.57),
(9992,17,6,74.50),
(9959,4,1,323.16),
(9957,17,1,359.48),
(9989,10,4,440.27),
(9982,15,6,414.33),
(9990,6,3,331.49),
(9966,37,2,336.35),
(9976,31,1,446.39),
(9990,1,4,302.32),
(9994,26,2,232.60),
(9976,35,6,285.33),
(9994,4,1,448.57),
(9996,24,4,273.39),
(9971,13,7,493.55),
(9982,24,6,440.60),
(9956,6,7,304.13),
(9979,27,3,212.58),
(9958,30,7,56.33),
(9980,32,2,275.32),
(9994,21,1,165.52),
(9996,31,3,247.12),
(9965,18,1,227.13),
(9970,40,1,75.47),
(9988,25,6,449.52),
(9967,30,7,426.19),
(9987,41,3,412.53),
(9998,13,7,399.22),
(9974,16,1,155.12),
(9974,19,3,99.32),
(9984,17,2,164.53),
(9981,38,3,486.40),
(9970,10,1,307.54),
(9972,21,6,470.50),
(9977,40,7,180.58),
(9959,29,1,76.55),
(9965,3,1,271.50),
(9975,2,7,84.21),
(9991,14,6,299.51),
(9989,32,7,494.28),
(9962,9,7,448.40),
(9996,13,1,189.34),
(9993,11,7,339.39),
(9960,17,4,415.22),
(9969,16,5,177.48),
(9983,14,1,184.30),
(9992,10,5,387.47),
(9995,9,4,434.13),
(9968,7,7,171.33),
(9982,1,2,274.40),
(9971,5,2,434.40),
(9974,41,1,352.54),
(9981,23,1,98.55),
(9972,21,2,327.27),
(9999,8,3,268.30),
(9997,25,6,450.45),
(9978,27,1,334.44),
(9967,40,7,417.21),
(9986,31,4,311.59),
(9962,27,3,428.40),
(9979,22,4,166.20),
(9992,14,3,359.21),
(9982,26,2,57.38),
(9966,24,1,143.45),
(9967,35,6,303.14),
(9957,35,6,165.23),
(9961,8,7,316.11),
(9987,14,6,241.38),
(9982,36,7,412.18),
(9999,13,6,418.48);

In [55]:
CREATE TABLE categorias (
  `id_categoria` INT NOT NULL,
  `nome` VARCHAR(45) NULL,
  PRIMARY KEY (`id_categoria`));

In [56]:
insert into categorias values 
(99, 'perfumaria_cosmeticos'),
(98, 'alimentos_bebidas'),
(97,  'casa_decoracao'),
(96, 'saude_bem-estar'),
(95, 'utensilios_domesticos'),
(94, 'midia'),
(93, 'pets_shop'),
(92, 'equipamentos_escritorio');

In [57]:
CREATE TABLE cidades (
  `id_cidade` INT NOT NULL,
  `nome` VARCHAR(45) NULL,
  `estado` VARCHAR(2) NULL,
  PRIMARY KEY (`id_cidade`));

In [58]:
INSERT INTO cidades values
(35,'São Paulo','SP'),
(31,'Minas Gerais','MG'),
(42,'Santa Catarina','SC'),
(29,'Bahia','BH'),
(23,'Ceará','CE'),
(53,'Distrito Federal','DF'),
(32,'Espírito Santo','ES'),
(52,'Goiás','GO'),
(21,'Maranhão','MA'),
(51,'Mato Grosso','MT'),
(13,'Amazonas','AM');

In [64]:
select
cat.nome,
sum(pd.quantidade * pd.preço_unitário) as 'total',
sum(pd.quantidade) as 'qtde'
from pedidos as item
inner join itens_pedido as pd on item.id_pedido = pd.id_pedido
inner join produtos as prod on pd.id_produto = prod.id_produto
inner join categorias as cat on prod.categoria = cat.id_categoria

group by
cat.nome
having sum(pd.quantidade) >=5;

+-------------------------+----------+------+
| nome                    | total    | qtde |
+-------------------------+----------+------+
| alimentos_bebidas       | 31012.89 | 99   |
+-------------------------+----------+------+
| casa_decoracao          | 20365.58 | 75   |
+-------------------------+----------+------+
| equipamentos_escritorio | 20473.03 | 66   |
+-------------------------+----------+------+
| midia                   | 11502.08 | 45   |
+-------------------------+----------+------+
| perfumaria_cosmeticos   | 40318.37 | 144  |
+-------------------------+----------+------+
| pets_shop               | 39247.42 | 127  |
+-------------------------+----------+------+
| saude_bem-estar         | 7639.11  | 26   |
+-------------------------+----------+------+
| utensilios_domesticos   | 17434.38 | 49   |
+-------------------------+----------+------+

In [144]:
select
cli.nome,
cat.nome,
count(item.id_pedido) as 'qtde_categoria',
sum(pd.quantidade * pd.preço_unitário) as 'total',
sum(pd.quantidade) as 'qtde'
from pedidos as item
left join itens_pedido as pd on item.id_pedido = pd.id_pedido
left join produtos as prod on pd.id_produto = prod.id_produto
left join categorias as cat on prod.categoria = cat.id_categoria
left join clientes as cli on item.id_cliente = cli.id_cliente
where item.data_pedido between '2020-07-01'and '2024-01-01';
group by
cat.nome
having sum(pd.quantidade) >=5 and count(item.id_pedido)>=5
order by
cli.nome asc;

+------+-------------------+----------------+-----------+------+
| nome | nome              | qtde_categoria | total     | qtde |
+------+-------------------+----------------+-----------+------+
|      | alimentos_bebidas | 152            | 176516.11 | 601  |
+------+-------------------+----------------+-----------+------+

In [174]:
select
cat.nome,
count(cli.id_cliente) as 'Clientes_categoria',
sum(item.total_pedido) as 'Qtde_total'
from pedidos as item
left join itens_pedido as pd on item.id_pedido = pd.id_pedido
left join produtos as prod on pd.id_produto = prod.id_produto
left join categorias as cat on prod.categoria = cat.id_categoria
left join clientes as cli on item.id_cliente = cli.id_cliente
where item.data_pedido >= 2000-11-01
group by
cat.nome

+-------------------------+--------------------+------------+
| nome                    | Clientes_categoria | Qtde_total |
+-------------------------+--------------------+------------+
|                         | 0                  | 13         |
+-------------------------+--------------------+------------+
| alimentos_bebidas       | 0                  | 223        |
+-------------------------+--------------------+------------+
| casa_decoracao          | 0                  | 153        |
+-------------------------+--------------------+------------+
| equipamentos_escritorio | 0                  | 80         |
+-------------------------+--------------------+------------+
| midia                   | 0                  | 94         |
+-------------------------+--------------------+------------+
| perfumaria_cosmeticos   | 0                  | 269        |
+-------------------------+--------------------+------------+
| pets_shop               | 0                  | 193        |
+-------------------------+--------------------+------------+
| saude_bem-estar         | 0                  | 89         |
+-------------------------+--------------------+------------+
| utensilios_domesticos   | 0                  | 96         |
+-------------------------+--------------------+------------+

In [198]:
select
item.data_pedido,
strftime('%m', item.data_pedido) as 'mes',
sum(pd.quantidade * pd.preço_unitário) as 'total'
from pedidos as item
left join itens_pedido as pd on item.id_pedido = pd.id_pedido
left join produtos as prod on pd.id_produto = prod.id_produto
left join categorias as cat on prod.categoria = cat.id_categoria
left join clientes as cli on item.id_cliente = cli.id_cliente
where item.data_pedido >= '2000-01-01'
    group by
cat.nome,
strftime('%m', item.data_pedido);

+-------------+-----+----------+
| data_pedido | mes | total    |
+-------------+-----+----------+
| 2023-06-9   |     |          |
+-------------+-----+----------+
| 2023-08-1   |     | 5616.71  |
+-------------+-----+----------+
| 2023-01-28  | 01  | 2375.73  |
+-------------+-----+----------+
| 2023-03-16  | 03  | 7291.38  |
+-------------+-----+----------+
| 2023-05-26  | 05  | 316.53   |
+-------------+-----+----------+
| 2022-07-11  | 07  | 5305.42  |
+-------------+-----+----------+
| 2022-08-16  | 08  | 3201.55  |
+-------------+-----+----------+
| 2023-09-13  | 09  | 1448.28  |
+-------------+-----+----------+
| 2022-10-15  | 10  | 1945.38  |
+-------------+-----+----------+
| 2023-11-27  | 11  | 660.32   |
+-------------+-----+----------+
| 2023-12-15  | 12  | 2851.59  |
+-------------+-----+----------+
| 2023-11-1   |     | 6478.97  |
+-------------+-----+----------+
| 2023-02-20  | 02  | 887.4    |
+-------------+-----+----------+
| 2023-03-16  | 03  | 2043.85  |
+-------------+-----+----------+
| 2022-07-11  | 07  | 2673.21  |
+-------------+-----+----------+
| 2022-08-16  | 08  | 2882.27  |
+-------------+-----+----------+
| 2022-09-17  | 09  | 812.56   |
+-------------+-----+----------+
| 2023-10-10  | 10  | 1880.09  |
+-------------+-----+----------+
| 2023-11-27  | 11  | 628.42   |
+-------------+-----+----------+
| 2023-12-15  | 12  | 2078.81  |
+-------------+-----+----------+
| 2023-05-5   |     | 4670.69  |
+-------------+-----+----------+
| 2023-01-30  | 01  | 672.7    |
+-------------+-----+----------+
| 2022-07-11  | 07  | 5153.46  |
+-------------+-----+----------+
| 2022-08-16  | 08  | 4797.73  |
+-------------+-----+----------+
| 2023-09-13  | 09  | 3032.31  |
+-------------+-----+----------+
| 2022-10-22  | 10  | 1264.06  |
+-------------+-----+----------+
| 2023-11-27  | 11  | 882.08   |
+-------------+-----+----------+
| 2023-11-1   |     | 2255.6   |
+-------------+-----+----------+
| 2023-01-30  | 01  | 2528.25  |
+-------------+-----+----------+
| 2023-02-23  | 02  | 637.74   |
+-------------+-----+----------+
| 2024-03-24  | 03  | 1285.2   |
+-------------+-----+----------+
| 2022-05-18  | 05  | 2930.43  |
+-------------+-----+----------+
| 2023-07-14  | 07  | 829.26   |
+-------------+-----+----------+
| 2022-08-16  | 08  | 114.76   |
+-------------+-----+----------+
| 2023-11-14  | 11  | 334.44   |
+-------------+-----+----------+
| 2023-12-20  | 12  | 586.4    |
+-------------+-----+----------+
| 2023-08-1   |     | 16408.72 |
+-------------+-----+----------+
| 2023-01-30  | 01  | 1286.28  |
+-------------+-----+----------+
| 2023-03-16  | 03  | 3785.09  |
+-------------+-----+----------+
| 2022-05-11  | 05  | 4474.81  |
+-------------+-----+----------+
| 2022-07-11  | 07  | 3305.57  |
+-------------+-----+----------+
| 2022-08-16  | 08  | 3922.02  |
+-------------+-----+----------+
| 2023-09-13  | 09  | 848.86   |
+-------------+-----+----------+
| 2022-10-15  | 10  | 4160.98  |
+-------------+-----+----------+
| 2023-12-20  | 12  | 2126.04  |
+-------------+-----+----------+
| 2023-08-1   |     | 14262.22 |
+-------------+-----+----------+
| 2023-01-27  | 01  | 1486.9   |
+-------------+-----+----------+
| 2023-02-23  | 02  | 2378.85  |
+-------------+-----+----------+
| 2024-04-15  | 04  | 1572.56  |
+-------------+-----+----------+
| 2023-05-26  | 05  | 3383.06  |
+-------------+-----+----------+
| 2022-07-11  | 07  | 4331.28  |
+-------------+-----+----------+
| 2022-08-16  | 08  | 3743.86  |
+-------------+-----+----------+
| 2022-09-15  | 09  | 991.38   |
+-------------+-----+----------+
| 2022-10-15  | 10  | 6054.59  |
+-------------+-----+----------+
| 2023-11-27  | 11  | 721.52   |
+-------------+-----+----------+
| 2023-12-20  | 12  | 321.2    |
+-------------+-----+----------+
| 2023-08-1   |     | 1022.29  |
+-------------+-----+----------+
| 2023-03-27  | 03  | 912.95   |
+-------------+-----+----------+
| 2024-04-15  | 04  | 780.93   |
+-------------+-----+----------+
| 2022-10-15  | 10  | 790.2    |
+-------------+-----+----------+
| 2023-12-15  | 12  | 4132.74  |
+-------------+-----+----------+
| 2023-08-1   |     | 5452.31  |
+-------------+-----+----------+
| 2023-01-27  | 01  | 2840.57  |
+-------------+-----+----------+
| 2023-02-23  | 02  | 664.8    |
+-------------+-----+----------+
| 2024-04-15  | 04  | 2702.7   |
+-------------+-----+----------+
| 2022-07-11  | 07  | 229.03   |
+-------------+-----+----------+
| 2022-08-16  | 08  | 2643.6   |
+-------------+-----+----------+
| 2022-10-25  | 10  | 549.12   |
+-------------+-----+----------+
| 2023-11-14  | 11  | 2352.25  |
+-------------+-----+----------+